.generatedLinkField{
    width: 800px;
    height: 100px;
    margin: 20px 0 20px 0 ;
}
.tryButton{
    display: block;
    min-width: 100px;
    height:30px;
}

.buttonImg{
width: 20px;
vertical-align: middle;
margin: 0 5px 0 0;
}
