.generatedPage{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
}
.invisible{
    display: none;
}
.card{
    width: 500px;
    border: 1px solid black;
    border-radius: 20px;
    margin-left: calc(50% - 250px);
    margin-top: 5%;
}
.cardTitle {
    text-align: center;
}
.cardButton{
    display: block;
    width: 100px;
    margin-left: calc(50% - 50px);
    margin-bottom: 20px;
    min-height: 30px;
    border-radius: 10px;
    background-color: seashell;
}
.cardImage{
    display:block;
    margin: 0 auto;
    width: 50px;
}
.contributorsList{
    margin-left: 20%;
}
.description{
    display:block;
    margin: 5% 10%;
}